*{box-sizing: border-box;}

body {
    margin: 0;
    min-width: 320px;
    /*max-width: 320px;*/
}

/* __________header__________*/
.header {
    display: flex;
    justify-content: space-around;
    min-height: 88px;
    min-width: 320px;
    align-items: center;
}

.main {
    background-color: #F8F8F8;
}

.title-before-navigator {
    display: flex;
    align-items: center;
}

.title-before-navigator__line {
    margin-right: 12px;
}

.title-before-navigator__h1 {
    font-family: "TT Lakes-Bold", "TT Lakes", sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    color: #1B1C21;
}

/* __________navigator__________*/
.navigator {
    display: flex;
    overflow-x: scroll;
    gap: 20px;
    margin-left: 5px;
    padding: 10px;
}

.navigator div a {
    text-decoration: none;
    color: #7E7E82;
    font-family: "TT Lakes", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    flex-shrink: 0;
}

.navigator div {
    flex-shrink: 0;
}

/*.navigator div a:hover {*/
.navigator div:first-child a {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    background-color: #FFFFFF;
    padding: 8px 9.3px 8px 16.54px;
}

/* __________about us__________*/
.about-us {
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
}

.about-us p {
    font-family: "TT Lakes",  sans-serif;
    font-weight: 200;
    color: #1B1C21;
    font-size: 14px;
    padding-left: 16px;
    padding-right: 16px;

}

.about-us__image {
    width: 100%;
}

/*#btn_open_text {display: none;}*/
#other_text_mobile {display: none;}
#btn_close_text {display: none;}

.status-order__text,
.make_order__text,
.header .profile,
.header .chat,
.header .call,
.header__separate-line-first,
.header__separate-line-thord {display: none;}

.text-block-about-us__bottom_open,
.text-block-about-us__bottom_close {
    margin: 0 0 20px 15px;
    font-family: "TT Lakes", sans-serif;
    font-weight: 400;
    font-size: 16px;
    border: none;
    background: transparent;
    text-align: left;
    margin-top: 15px;
}
.text-block-about-us__bottom_open-icon {
    margin-right: 16px;
}

.text-block-about-us__text {
    height: 118px;
    overflow-y: hidden;
}

/* __________swiper brands__________*/
.brands {
    width: 100%;
    max-height: 234px;
    margin: 0;
    padding: 0;
}

.brands__title {
    font-family: "TT Lakes",  sans-serif;
    font-weight: 200;
    color: #7E7E82;
    font-size: 16px;
    padding: 16px;
    text-transform: uppercase;
    background: #FFFFFF;
}

.swiper {
    /*width: 100%;*/
    height: 134px;
}

.swiper-wrapper {
    display: flex;
    margin: 0 16px 0 16px;
    /*margin-left: 16px;*/
}

.swiper-slide {
    box-sizing: border-box;
    display: flex;
    max-width: 240px;
    max-height: 72px;
    background: #FFFFFF;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    border-radius: 6px;
    border: 1px #EAEAEA solid;
    padding: 16px;
    /*width: auto; !*ширина слайдера*!*/
}

.swiper-container-paginator {
    position: relative;
    bottom: 1em; /* расстояние от swiper */
}

.swiper .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    line-height: 12px;
    background-color: #B5B6BC;
}

.brands__btn-show-more {
    display: none;
}

.brands__btn-close {
    display: none;
}



/*________________for tablets__________________*/

@media screen and (min-width: 768px) {

    /* __________header__________*/
    .header__separate-line-second,
    #other_text_tablets {
        display: none;
    }

    .header .chat,
    .header .call,
    .header .profile,
    .header__separate-line-first,
    .header__separate-line-thord,
    #other_text_mobile {
        display: inline;
    }

    .header {
        margin-right: 24px;
        margin-left: 24px;
    }

    .header__logo {
        margin-right: 250px;
    }

    /* __________navigator__________*/
    .title-before-navigator__h1 {
        margin-left: 20px;
    }

    .navigator {
        margin-left: 20px;
    }

    /* __________about us__________*/
    .about-us {
        flex-direction: row;
        margin-top: 16px;
        align-items: flex-start;
        padding-bottom: 30px;
    }

    .about-us p {
        margin-top: 0;
        margin-left: 20px;
    }

    .about-us__bottom_close,
    .about-us__bottom_open {
        margin-top: 10px;
    }

    .about-us__image {
        align-self: start;
        margin-right: 25px;
        margin-left: 30px;
        border-radius: 5px;
        width: 360px;
    }

    .text-block-about-us__text {
        font-size: 14px;
        width: 342px;
        height: 150px;
        overflow-y: hidden;
    }

    .text-block-about-us__bottom_close,
    .text-block-about-us__bottom_open {
        margin-left: 36px;
    }

    /* __________swiper brands__________*/
    .brands {
        width: 100%;
        height: 100%;
        max-height: 100%;
        padding-bottom: 16px;
    }

    .brands__title {
        padding-left: 36px;
    }

    .swiper {
        height: 160px;
        /*height: 100%;*/
    }

    .swiper-wrapper {
        padding-left: 26px;
        padding-right: 26px;
        margin: 0;
        flex-wrap: wrap;
        /*justify-content: space-between;*/
        /*justify-content: space-around;*/
        /*делает равномерным расстояние между брендами при растяжении но сокращает между крайним и правой границей*/
        /*align-self: flex-start;*/
        gap: 10px;
    }

    .swiper-slide {
        max-width: 224px;
        /*margin: 0 0 6px 0;*/
        /*padding: 0;*/
        /*margin: 0;*/
    }

    .swiper-pagination {
        display: none;
    }

    .brands__btn-close,
    .brands__btn-show-more {
        display: flex;
        /*display: block;*/
        align-items: center;
        justify-content: space-between;
        margin: 16px 0 20px 16px;
        font-family: "TT Lakes", sans-serif;
        border: none;
        font-size: 16px;
        background: transparent;
    }

    .brands__btn-show-more-icon {
        margin-right: 16px;
    }

    .brands__btn-close-icon {
        transform: rotate(180deg);
        margin-right: 16px;
    }

    .brands__btn-close {
        display: none;
    }

}



/*________________for computers__________________*/

@media screen and (min-width: 1120px) {

    body {
        width: 1120px;
    }

    /* __________header__________*/
    .header {
        background-color: #F8F8F8;
    }

    .left_menu,
    .header__logo,
    .header .call,
    .header .chat,
    .header .profile,
    .header__separate-line-first,
    .header__separate-line-second,
    .header__separate-line-thord,
    .header__left_menu {
        display: none;
    }

    #other_text_tablets {
        display: inline;
    }

    .title-before-navigator__h1 {
        margin-left: 32px;
    }

    .make_order__text,
    .status-order__text{
        display: inline;
        font-family: "TT Lakes", sans-serif;
        color: #1B1C21;
        margin-right: 8px;
    }

    .header .make_order,
    .header .status-order {
        display: flex;
        align-items: center;
        margin-right: 32px;
    }

    .header {
        float: right;
        margin-right: 10px;
    }

    /* __________navigator__________*/
    .navigator {
        clear: both;
        flex-wrap: wrap;
        margin-left: 35px;
        justify-content: flex-start;
        overflow-x: unset;
        width: 1100px;
    }

    .navigator div {
        margin-right: 10px;
    }

    .navigator div:last-child {
        margin-left: 20px;
    }

    /* __________about us__________*/
    .about-us {
        margin-left: 14px;
        padding-bottom: 40px;
    }

    .about-us__image {
        align-self: self-start;
        margin-right: 25px;
        border-radius: 5px;
        width: 500px;
    }

    .text-block-about-us__text {
        line-height: 20px;
        height: 155px;
        width: 530px;
        overflow-y: hidden;
    }

    .text-block-about-us__bottom_open,
    .text-block-about-us__bottom_close {
        margin-left: 40px;
    }

    .swiper-wrapper {
        width: 100%;
        box-sizing: border-box;
        padding-left: 34px;
        padding-right: 0;
        margin-right: 0;
        gap: 12px;
        /*justify-content: space-around;*/
    }

    .swiper-slide {
        max-width: 240px;
    }
}